.noun {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    color: goldenrod;
    text-align: center;
}

.second {
    color: hotpink;
}

.lol {
    height: auto;
    width: 600px;
}